# Ignore all the shit!
*

# Not for these pieces of shit though!
!.gitignore
!LICENSE
!README.md
!CMakeLists.txt

# And these trashcans!
!src
!src/**
!assets
!assets/**
!lib
!lib/SDL
!lib/SDL/**

# Yeah let's ignore this again okay?
assets/sidprgs
